.dom{
    text-align: center;
    background-color: green;
    color: yellow;
}
#btn{

    padding: 0.8rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: violet;
    color: red;
    font-size: 1.5rem;
    margin-right: 50px;
    margin-bottom: 35px;
    transition: 1s ;
}
#btn:active{
    background-color: green;
    color: yellow;
    border: 2px red dashed;

}

table{
    border: 1px red;
    padding: 10px;
    background-color: green;
    margin: 30px;
    border-radius: 10px;
}
.tr11{
    color: yellow;

}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-wrapper{
    border: 5px grey solid;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 5px 0px 5px 0px;
    margin: 10px;
}

.product-image{
    height: 200px;
    width: 300px;
}

.pname{
    font-size: 1.5rem;
}
.pprice{

    background-color: midnightblue;
    display: inline-block;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
}
.pprice::before{
    content: "$ ";
}
.dprice{

    background-color: red;
    display: inline-block;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}
.dprice:before{
    content: " ";
}
.bt{
    padding: 5px;
    display: block;
    margin-left: 100px;
    background-color: yellow;
    font-size: 1.3rem;
    color: grey;
    border: 1px solid grey;
    border-radius: 10px;
}